.parent2{
    display: flex;
    flex-direction: row;
}
.parent3{
    display: flex;
    flex-direction: row;
}

.smallbox{
    flex: 1.5;
    width: 3em;
    border: 1px solid green;
    padding: 50px;
    margin: 10px;
  }

.largebox{
  flex: 3;
  width: 3px;
  border: 1px solid green;
  padding: 50px;
  margin: 10px;
    
}

#horizontal{
    height: 100px;
}
#vertical{
    flex: 1;
    height: 600px;
}