p{width:200px;
  hight:30px ;  
  border: 1px solid red;
  }
.myp{width:50px;
     hight:30px ;  
     border: 1px solid blue;
    }
#myid{width:30px;
      hight:30px ;  
      border: 1px solid green;
      }